*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea
libs/
app/src/main/java/me/ewriter/bangumitv/api/BangumiApi.java
/app/src/main/java/me/ewriter/bangumitv/api/WebApi.java
